/* ================= VARIABLES ================= */

$card-width: 200px;
$primary-color: #060b35;
$accent-color: #00acdc;
$active-color: #0af;
$title-hover-color: #34568b;
$text-muted: #616070;
$card-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
