@use './variables' as *;
@use './index' as *;

.header {
  box-sizing: border-box;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 10px 40px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  padding: 0;

  font-family: Roboto, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  list-style: none;

  &__link {
    position: relative;

    padding: 10px 0;

    color: $primary-color;
    text-decoration: none;

    transition: color 300ms ease;

    &.is-active {
      color: $active-color;
    }

    &.is-active::after {
      content: '';

      position: absolute;
      bottom: -5px;
      left: 0;

      width: 100%;
      height: 3px;
      border-radius: 2px;

      background-color: $active-color;
    }

    &:hover {
      color: $accent-color;
    }
  }
}

/* ================= MAIN GRID ================= */

main {
  overflow: visible;
  display: grid;
  grid-template-columns: repeat(1, $card-width);
  gap: 46px 48px;
  align-items: start;
  justify-content: center;

  min-height: calc(100vh - 60px);
  padding: 50px 40px;
}

@media screen and (min-width: 488px) {
  main {
    grid-template-columns: repeat(2, $card-width);
  }
}

@media screen and (min-width: 768px) {
  main {
    grid-template-columns: repeat(3, $card-width);
  }
}

@media screen and (min-width: 1024px) {
  main {
    grid-template-columns: repeat(4, $card-width);
  }
}

/* ================= CARD ================= */

.card {
  position: relative;
  transform-origin: center;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-around;

  width: $card-width;
  padding: 15px;
  border-radius: 5px;

  box-shadow: $card-shadow;

  transition: transform 300ms ease;

  &:hover {
    z-index: 1;
    transform: scale(1.2);
  }

  &__image {
    width: 160px;
    height: 134px;

    background-image: url('../images/imac.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
  }

  &__title {
    margin: 0;

    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 500;

    transition: color 300ms ease;
  }

  &:hover &__title {
    color: $title-hover-color;
  }

  &__product-code {
    margin: 0;

    font-family: Roboto, sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: $text-muted;
  }

  &__stars {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__stars-box {
    display: flex;
    gap: 5px;
  }

  &__star {
    width: 16px;
    height: 16px;

    background-image: url('../images/star.svg');
    background-repeat: no-repeat;
    background-size: contain;

    &--active {
      background-image: url('../images/star-active.svg');
    }
  }

  &__review {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 10px;
    font-weight: 400;
  }

  &__price-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__price-label {
    margin: 0;

    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: $text-muted;
  }

  &__price-value {
    margin: 0;

    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: $text-muted;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 40px;
    border: 1px solid $accent-color;
    border-radius: 5px;

    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;

    background-color: $accent-color;

    transition: all 300ms ease;

    &:hover {
      color: $accent-color;
      background-color: #fff;
    }
  }
}
