* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  box-sizing: border-box;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 10px 40px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  padding: 0;

  font-family: Roboto, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  list-style: none;
}

.links__link {
  position: relative;

  padding: 10px 0;

  color: #060b35;
  text-decoration: none;

  transition: color 0.3s;
}

.links__link.is-active {
  color: #0af;
}

.links__link.is-active::after {
  content: '';

  position: absolute;
  bottom: -5px;
  left: 0;

  width: 100%;
  height: 3px;
  border-radius: 2px;

  background-color: #0af;
}

.links__link:hover {
  color: #00acdc;
}

main {
  overflow: visible;
  display: grid;
  grid-template-columns: repeat(1, 200px);
  gap: 46px 48px;
  align-items: start;
  justify-content: center;

  min-height: calc(100vh - 60px);
  padding: 50px 40px;
}

@media screen and (min-width: 488px) {
  main {
    grid-template-columns: repeat(2, 200px);
  }
}

@media screen and (min-width: 768px) {
  main {
    grid-template-columns: repeat(3, 200px);
  }
}

@media screen and (min-width: 1024px) {
  main {
    grid-template-columns: repeat(4, 200px);
  }
}

.card {
  position: relative;
  transform-origin: center;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-around;

  width: 200px;
  padding: 15px;
  border-radius: 5px;

  box-shadow: 0 2px 4px #0003;

  transition: transform 0.3s;
}

.card:hover {
  z-index: 1;
  transform: scale(1.2);
}

.card__image {
  width: 160px;
  height: 134px;

  background-image: url('imac.04d6fc2d.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.card__title {
  margin: 0;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;

  transition: color 0.3s;
}

.card:hover .card__title {
  color: #34568b;
}

.card__product-code {
  margin: 0;

  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #616070;
}

.card__stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.card__stars-box {
  display: flex;
  gap: 5px;
}

.card__star {
  width: 16px;
  height: 16px;

  background-image: url('star.7fc9e805.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.card__star--active {
  background-image: url('star-active.ab9dc390.svg');
}

.card__review {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 400;
}

.card__price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.card__price-label {
  margin: 0;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #616070;
}

.card__price-value {
  margin: 0;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #616070;
}

.card_button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 40px;
  border: 1px solid #00acdc;
  border-radius: 5px;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;

  background-color: #00acdc;

  transition: all 0.3s;
}

.card_button:hover {
  color: #00acdc;
  background-color: #fff;
}
